body {
  background-color: rgb(19, 19, 19);
  font-family: sans-serif;
  margin: 0;
}

.parent {
  margin: 3vh auto;
  border: 1px solid red;
  display: flex;
  padding: 2vh;
  gap: 10px;
  width: 50%;
  flex-wrap: wrap;
}

.child {
  border: 1px solid rgb(85, 255, 0);
  padding: 20px;
  color: white;
  /* flex-grow: 1; */
  /* width: 100%; */
}

.child-three {
  border: 1px solid rgb(0, 255, 251);

  /* flex-grow: 1; */

  /* flex-shrink: 0; */

  flex-basis: 100%;
  /* width: 100%; */
}
