* {
  padding: 0;
  margin: 0;
  font-size: 40px;
  /* box-sizing: border-box; */
}

.box-one {
  background-color: rgb(227, 52, 52);
  padding: 10px;
  height: 130px;
  width: 130px;
  border: 30px solid rgb(114, 0, 237);
  margin: 60px;
  box-sizing: border-box;
}

.box-two {
  background-color: rgb(0, 90, 199);
  padding: 10px;
  height: 100px;
  width: 100px;
  border: 30px solid rgb(114, 0, 237);
  margin: 80px;
}

/* 

 # In the box model

 - margin collapses between two elements that are next to each other.
   If one element's margin is bigger that the other, it will be used.

- Element's total height would normally be height+padding+border,
  to change that and have total height as height, use box-sizing,
  this is called the alternative box model.

Read more
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model
This page has even more useful links!

https://www.youtube.com/watch?v=x_i2gga-sYg

*/

/* To use the alternative box model for all of your elements
(which is a common choice among developers) */

/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */
